@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 220px 470px 2350px 64px;
  grid-template-areas:
  "hd hd"
  "sd sd"
  "main main"
  "ft ft";
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}


.header {
  grid-area: hd;
}


.sidebar {
  grid-area: sd;
  margin: 13px 0px 0px 0px;
}


.archive {
  padding: 8px 32px 32px 32px;
  background: #e1e1e1;
  margin: 16px 16px 0px 16px;
}


.archive li {
  border-bottom: 1px solid #c5c3c3;
}


.archive a {
  text-decoration: none;
  color: #565656;
  line-height: 30px;
  font-style: normal;
}


.content {
  grid-area: main;
}


.intro {
  font-weight: 600;
}


.blog-post {
  padding: 0px 32px 0px 32px;
}


.blog-post img {
  margin-top: 16px;
}


.author {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 0px 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #e1e1e1;
}


.author img {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.author-info {
  padding: 16px;
  text-align: center;
}


.title {
  font-style: italic;
}


.email {
  text-decoration: underline;
}


.bio {
  margin-top: 12px;
}


.blog-post img {
  width: 100%;
  height: auto;
}


.share-post {
  text-align: center;
  margin-top: 32px;
}


.fa {
  padding: 15px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 8px;
}


.fa-twitter {
  background: #55ACEE;
  color: #fff;
}


.fa-facebook {
  background: #3B5998;
  color: #fff;
}


.fa-linkedin {
  background: #0a66c2;
  color: #fff;
}


@media (min-width: 900px) and (max-width: 1148px) {
 .container {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 1300px 64px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd main main main main"
    "ft ft ft ft ft";
    margin-top: 50px;
 }


 .post img {
   width: 100%;
   max-width: 250px;
   height: auto;
 }


 .author {
   display: flex;
   flex-direction: row;
   justify-content: left;
  }


 .author img {
   max-width: 200px;
   height: auto;
   margin-left: 0;
   margin-right: 0;
  }


 .author-info {
   text-align: left;
  }
}


@media (min-width:1149px) {
 .container {
   width: 80%;
   display: grid;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 200px 1400px 64px;
   grid-template-areas:
   "hd hd hd hd hd"
   "sd main main main main"
   "ft ft ft ft ft";
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
  }


 .post {
   display: flex;
   flex-direction: row;
  }


 .post img {
   width: 100%;
   max-width: 250px;
   height: auto;
 }


 .author {
   display: flex;
   flex-direction: row;
   justify-content: left;
  }


 .author img {
   max-width: 200px;
   height: auto;
   margin-left: 0;
   margin-right: 0;
 }


 .author-info {
   text-align: left;
  }
}
