@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto) minmax(150px, auto) 7fr 64px;
  grid-template-areas:
  "hd hd"
  "sd sd"
  "main main"
  "ft ft";
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}


.header {
  grid-area: hd;
}


.sidebar {
  grid-area: sd;
  margin: 16px 0px 0px 0px;
}


#about {
  margin: 0px 16px 0px 16px;
  text-align: center;
  background: #e1e1e1;
  padding: 8px 32px 32px 32px;
}


.content {
  grid-area: main;
  margin-bottom: 16px;
}


.posts {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}


.post-card {
  width: auto;
  height: auto;
  margin: 16px;
}


.post-card img {
  width: 100%;
  height: auto;
}


.preview {
  padding: 8px 8px 8px 16px;
}


.post-excerpt {
  display: block;
  margin-top: 8px;
}


.button {
  background: #565656;
  color: #fff;
  padding: 11px 30px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin-top: 16px;
  font-style: normal;
}

.pagination {
  margin: 8px 0;
}
.pagination li {
  float: left;
}
.pagination ul {
  margin: 32px 0 32px 0;
  float: left;
  left: 50%;
  position: relative;
  list-style: none;
}
.pagination ul > li {
  left: -50%;
  position: relative;
}
.pagination li a {
  background-color: #e1e1e1;
  border-radius: 5px 5px 5px 5px;
  color: #000;
  display: block;
  font-family: "open sans", arial;
  font-size: 12px;
  line-height: 30px;
  font-style: normal;
  height: 30px;
  margin: 0 3px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 30px;
}
.pagination li a:hover {
  background-color: #565656;
  color: #FFFFFF;
}

@media (min-width: 900px) and (max-width: 1148px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px minmax(900px, auto) 64px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd main main main main"
    "ft ft ft ft ft";
    margin-top: 50px;
  }


  .post-card img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}


@media (min-width:1149px) {
  .container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px minmax(700px, auto) 64px;
    grid-template-areas:
    "hd hd hd hd hd"
    "sd main main main main"
    "ft ft ft ft ft";
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }


  .post-card {
    display: flex;
    flex-direction: row;
  }


  .post-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}