@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 220px 210px 2350px 64px;
  grid-template-areas: 
  "hd hd"
  "sd sd"
  "main main" 
  "ft ft";
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}


.header {
  grid-area: hd;
}


.sidebar {
  grid-area: sd;
  margin: 13px 0px 0px 0px;
}


#about {
  margin: 0px 16px 0px 16px;
  text-align: center;
  background: #e1e1e1;
  padding: 16px;
}


.content {
  grid-area: main;
}


.posts {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}


.post {
  width: auto;
  height: auto;
  margin: 16px;
}


.post img {
  width: 100%;
  height: auto;
}

.preview {
  padding: 8px 8px 8px 16px;
}


.post-excerpt {
  display: block;
  margin-top: 8px;
}

.button {
  background: #565656;
  color: #fff;
  padding: 11px 30px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin-top: 16px;
 }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

  
@media (min-width: 900px) and (max-width: 1148px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 1300px 64px;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sd main main main main"
    "ft ft ft ft ft";
    margin-top: 50px;
  }

  .post img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

@media (min-width:1149px) {
  .container {
    width: 80%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 800px 64px;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sd main main main main"
    "ft ft ft ft ft";
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .post {
    display: flex;
    flex-direction: row;
  }

  .post img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

}