@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

     body{
       font-family: "open-sans", arial;
       color: #565656;
     }

     .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 250px 350px 800px 64px;
        grid-template-areas: 
        "hd hd"
        "sd sd"
        "main main" 
        "ft ft";
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
      }

      .header {
        grid-area: hd;
      }

      #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        width: 150px;
      }

      .navbar {
          background: #565656;
          margin: 16px 16px 0 16px;
          padding: 16px;
          text-align: center;
          font-family: "Staatliches", arial;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 20px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .navbar li {
          display: inline;
      }

      .navbar a {
          text-decoration: none;
          color: #fff;
          padding: 0px 12px 0px 12px;
        }

      .sidebar {
        grid-area: sd;
      }

      #about {
        margin: 16px;
        text-align: center;
        background: #e1e1e1;
        padding: 16px;
      }
    
      .content {
        grid-area: main;
        margin-top: 32px;
      }

      .posts {
        display:flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
      }

    .post {
          width: auto;
          height: auto;
          margin: 16px;
      }

      .post img {
        width: 100%;
        height: auto;
      }

      .preview {
        padding: 8px 8px 8px 16px;
      }

      .post-title {
        font-family: "Staatliches", arial;
        font-weight: 600;
        font-size: 25px;
      }

      .post-excerpt {
        display: block;
        margin-top: 8px;
      }

      .button {
        background: #565656;
        color: #fff;
        padding: 11px 30px;
        border-radius: 25px;
        text-decoration: none;
        display: inline-block;
        margin-top: 16px;
      }
    
      .footer {
        grid-area: ft;
        background: #565656;
        text-align: center;
        padding: 16px;
      }

      .copyright {
        color: #fff;
        font-family: "Staatliches", arial;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
      }
  
  @media (min-width: 900px) and (max-width: 1148px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 800px 64px;
        grid-template-areas: 
        "hd hd hd hd hd"
        "sd main main main main"
        "ft ft ft ft ft";
        margin-top: 50px;
    }

    .content {
      margin-top: 0px;
    }

    .post img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }

@media (min-width:1149px) {
    .container {
        width: 80%;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 800px 64px;
        grid-template-areas: 
        "hd hd hd hd hd"
        "sd main main main main"
        "ft ft ft ft ft";
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .content {
      margin-top: 0px;
    }

    .post {
      display: flex;
      flex-direction: row;
    }

    .post img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }

  }