@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
    font-family: "Staatliches", arial;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
}


h2 {
    font-family: "Staatliches", arial;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}


h3 {
    font-family: "Staatliches", arial;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 16px;
}


h4 {
    font-family: "Open Sans", arial;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 10px;
}


p {
    margin: 0px;
}


blockquote {
    font-size: 17px;
    line-height: 35px;
    font-style: italic;
    border-left: 5px solid #eee;
    padding: 8px;
}


.post-title {
    font-family: "Staatliches", arial;
    font-weight: 600;
    font-size: 25px;
}


.email {
    text-decoration: underline;
}